$mobile-widths-only: "(min-width: 20px) and (max-width: 599px)";
$tablet-widths: "(min-width: 600px)";
$tablet-widths-only: "(min-width: 600px) and (max-width: 959px)";
$desktop-widths: "(min-width: 960px)";

$white: white;
$white-50: rgba(255, 255, 255, 0.5);
$white-90: rgba(255, 255, 255, 0.9);
$black: black;
$black-15: rgba(0, 0, 0, 0.15);
$black-30: rgba(0, 0, 0, 0.3);
$lightorange: #f29716;
$orange: #ee772f;
$darkorange: #e55904;
$orange-20: rgba(238, 119, 47, 0.2);
$orange-50: rgba(238, 119, 47, 0.5);
$verylightblue: #f5fbfe;
$blue: rgb(41, 128, 185);
$blue-80: rgba(41, 128, 185, 0.8);
$darkblue: rgb(22, 99, 158);
$darkblue-40: rgba(22, 99, 158, 0.4);
$darkblue-50: rgba(22, 99, 158, 0.5);
$darkblue-80: rgba(22, 99, 158, 0.8);
$lightgray: #e9e9e9;
$brown-80: rgba(38, 28, 20, 0.8);
$gray: #888888;
$darkgray: #595959;

$orange-gradient: linear-gradient(to right, $orange, $lightorange);
$advantage-gradient: linear-gradient(to right, $darkblue, $blue);
$filter-gradient: linear-gradient(to right, $darkblue-50, $orange-50);
$sign-up-section-gradient: linear-gradient(to right, $darkblue, #0a4e82);
$sign-up-button-gradient: linear-gradient(to right, $orange, $darkorange);
$sign-up-button-shadow: #bc5100;
$benefits-item-gradient: linear-gradient(to right, $darkblue, #1e8ee4);
$input-text: #354052;

$primary-bg: $white;
$secondary-bg: $verylightblue;
$placeholder-bg: $lightgray;
$reviews-bg: #f9f9f9;
$footer-bg: #34495e;
$reviews-text: $darkgray;
$indicator-item: #ced0da;
$footer-link: #b1b1b1;
$footer-registration: #9c9c9c;
