html {
  box-sizing: border-box;
}

*,
*::before,
*::after {
  box-sizing: inherit;
}

body {
  position: relative;
  min-width: 320px;
  margin: 0 auto;
  padding: 0;
  font-family: "Museo Cyrl";
  //TODO: зафолбэчить шрифты
  font-weight: 500;
  font-size: 16px;
  color: $black;
  font-style: normal;
  background-color: $white;
  // background-color: gray;

  @media #{$desktop-widths} {
    max-width: 1170px;
    box-shadow: 0 0 30px -4px rgba(0, 0, 0, 0.6);
  }
}

img {
  max-width: 100%;
  height: auto;
}

picture {
  display: block;
}

label {
  user-select: none;
}

:hover,
:hover::before,
:hover::after {
  transition: 0.3s ease all;
}

.mobile-hidden {
  display: none;

  @media #{$tablet-widths} {
    display: inline;
  }
}

.tablet-hidden {
  @media #{$tablet-widths-only} {
    display: none;
  }
}
