.programs-slider {
  width: 100%;
  margin: 0;
  padding: 5px;
  background-image: $orange-gradient;

  &__gradient-wrapper {
    position: relative;
    display: flex;
    flex-flow: column nowrap;
    padding: 15px 0 0;
    width: 100%;
    height: 100%;
    background-color: $secondary-bg;
  }

  &__header {
    position: absolute;
    left: 0;
    right: 0;
    bottom: -0.75em;
    display: block;
    padding: 0 0.3em;
    margin: 0 auto;
    max-width: 215px;
    font-size: 16px;
    font-weight: 500;
    color: $darkblue;
    background-color: $secondary-bg;
    z-index: 1;
  }

  &__slides-list {
    display: flex;
    flex-flow: row nowrap;
    overflow: auto;
  }

  &__slide {
    margin-right: 7px;
    margin-left: 7px;
  }

  &__button-wrapper {
    margin: 10px auto;
  }

  @media #{$desktop-widths} {
    &__slides-list {
      display: flex;
      flex-flow: row wrap;
      justify-content: center;
      padding-top: 17px;
      overflow: visible;
    }

    &__slide {
      margin-right: 8px;
      margin-left: 8px;
      margin-bottom: 32px;
    }

    &__button-wrapper {
      display: none;
    }
  }
}
