.slider-buttons {
  &__button {
    position: relative;
    width: 21px;
    height: 21px;
    border: 0;
    border-radius: 50%;
    border: 1px solid $orange;
    background-color: transparent;
    background-image: none;

    &:hover {
      background-image: $orange-gradient;
    }

    &:focus {
      outline: none;
    }

    &--prev {
      margin-right: 15px;

      &::before,
      &::after {
        content: "";
        position: absolute;
        top: 0;
        left: 0;
        width: 1px;
        height: 6px;
        background-color: $orange;
      }

      &::after {
        transform: rotate(90deg);
      }
    }

    &--next {
      margin-left: 10px;
    }
  }
}
