.slider-buttons {
  &__button {
    position: relative;
    width: 21px;
    height: 21px;
    border: 0;
    border-radius: 50%;
    border: 1px solid $orange;
    background-color: transparent;
    background-image: none;
    cursor: pointer;
    outline: none;

    &:hover,
    &:active {
      background-image: $orange-gradient;

      &::before,
      &::after {
        background-color: $white;
      }
    }

    &::before,
    &::after {
      content: "";
      position: absolute;
      width: 1px;
      height: 6px;
      background-color: $orange;
    }

    &::before {
      top: 8px;
      transform: rotate(45deg);
    }

    &::after {
      bottom: 9px;
      transform: rotate(-45deg);
    }

    &--prev {
      margin-right: 15px;

      &::before,
      &::after {
        right: 10px;
      }

      &::before {
        transform: rotate(135deg);
      }

      &::after {
        transform: rotate(-135deg);
      }
    }

    &--next {
      margin-left: 15px;

      &::before,
      &::after {
        left: 10px;
      }
    }
  }

  @media #{$tablet-widths} {
    transform: scale(1.3);
  }
}
