.slider-buttons {
  &__button {
    position: relative;
    width: 21px;
    height: 21px;
    border: 0;
    border-radius: 50%;
    border: 1px solid $orange;
    background-color: transparent;
    background-image: none;
    cursor: pointer;

    &:hover,
    &:focus {
      background-image: $orange-gradient;
      outline: none;
      
      &::before,
      &::after {
        background-color: $white;;
      }
    }

    &::before,
    &::after {
      content: "";
      position: absolute;
      width: 1px;
      height: 6px;
      background-color: $orange;
    }

    &::before {
      top: 60%;
      transform: translate(-50%, -50%) rotate(45deg);
    }
    
    &::after {
      bottom: 30%;
      transform: translate(-50%, -50%) rotate(-45deg);
    }
    
    &--prev {
      margin-right: 15px;
      
      &::before {
        transform: translate(-50%, -50%) rotate(135deg);
      }

      &::after {
        transform: translate(-50%, -50%) rotate(-135deg);
      }
    }

    &--next {
      margin-left: 10px;
    }
  }
}
