.footer-company {

  &__list {
    margin: 0;
    padding: 0;
    list-style: none;
  }

  &__link {
    font-size: 12px;
    line-height: 24px;
    text-decoration: none;
    color: $footer-link;
    border-bottom: 2px solid transparent;

    &:hover {
      color: $white;
      border-bottom: 2px solid $orange;
    }
  }
}