.footer-contacts {
  display: flex;
  flex-flow: column nowrap;
  padding-left: 20px;

  &__link {
    display: inline-block;
    font-size: 12px;
    color: $white;
    text-decoration: none;
    
    &:hover {
      text-decoration: underline;
    }

    &--change-city {
      margin-top: 7px;
      padding-left: 0.7em;
      font-size: 10px;
    }

    &--second-phone {
      margin-top: 7px;
    }
  }

  &__caption {
    margin-top: 2px;
    font-size: 10px;
    
    &--city {
      margin-top: 17px;
      padding-left: 0.5em;
      font-size: 12px;
    }
  }
}