.footer-contacts {
  display: flex;
  flex-flow: column nowrap;
  padding-left: 20px;

  &__link {
    display: inline-block;
    margin-left: -1em;
    font-size: 12px;
    color: $white;
    text-decoration: none;

    &:hover {
      text-decoration: underline;
    }

    &--change-city {
      margin-top: 7px;
      margin-left: 0.7em;
      font-size: 10px;
      text-decoration: underline;
    }

    &--second-phone {
      margin-top: 7px;
    }
  }

  &__caption {
    margin-top: 4px;
    font-size: 10px;

    &--city {
      display: flex;
      align-items: center;
      margin-top: 17px;
      margin-left: -1em;
      padding-left: 0.5em;
      font-size: 12px;

      .icon {
        width: 7px;
        height: 12px;
      }
    }
  }
}
