.page-stats {
  @include container();
  display: flex;
  flex-flow: column nowrap;
  align-items: center;
  padding-bottom: 44px;
  border: 5px solid $orange;

  &__header {
    margin-top: -34px;
    background-image: none;
    background-color: $orange;

    span {
      background-color: $white;
      padding: 0.15em 0.9em;
    }
  }

  &__list {
    margin-top: 5px;
  }

  @media #{$tablet-widths} {
    padding-bottom: 57px;

    &__list {
      margin-top: 20px;
    }
  }
  
  @media #{$desktop-widths} {
    padding-bottom: 70px;

    &__list {
      margin-top: 35px;
    }
  }
}