.page-stats {
  @include container();
  display: flex;
  flex-flow: column nowrap;
  align-items: center;
  border: 5px solid $orange;

  &__header {
    margin-top: -34px;
    background-image: none;
    background-color: $orange;

    span {
      background-color: $white;
      padding: 0.15em 0.9em;
    }
  }

  &__list {
    margin-top: 4px;
    margin-bottom: 44px;
  }
}