.stats-item {
  text-align: center;

  &__value {
    font-size: 40px;
    font-weight: 700;
    color: $orange;
  }

  &__caption {
    margin: 8px 0 0 0;
    font-size: 14px;
    font-weight: 500;
    color: $blue;
  }
}