.login-button {
  position: absolute;
  top: 26px;
  right: 3%;
  z-index: 1;
  display: block;
  padding: 0.5em 0;
  min-width: 90px;
  width: 22%;
  font-size: 0.625em;
  font-weight: 300;
  text-align: center;
  text-decoration: none;
  color: $white;
  background-color: $orange;
  border-radius: 8px;
}