.login-button {
  display: block;
  min-width: 90px;
  padding: 0.5em 0;
  font-size: 0.625em;
  font-weight: 300;
  text-align: center;
  text-decoration: none;
  color: $white;
  background-color: $orange;
  border-radius: 8px;
  box-shadow: 0 5px 10px 3px $black-15;

  &:hover {
    background-color: $darkorange;
  }

  &:active {
    color: $orange;
    background-color: $white;
  }
}
