.main-nav {
  width: 100%;
  padding: 0 15px;
  background-color: $white;

  &__list {
    display: flex;
    flex-direction: column;
    padding: 2.5em 0;
    margin: 0;
    list-style: none;
  }

  &__link {
    display: block;
    padding: 0.75em 15%;
    font-family: "OpenSans";
    font-size: 24px;
    font-weight: 300;
    color: $black;
    text-decoration: none;
    text-align: left;
    background-color: $white;
    user-select: none;
    cursor: pointer;

    @media #{$mobile-widths-only} {
      &:not([href]) {
        -webkit-tap-highlight-color: transparent;
      }

      &:hover[href] span {
        border-bottom: 2px solid $blue;
      }

      &:active[href] span {
        border-bottom: 2px solid $orange;
      }
    }
  }

  &--opened {
    display: block;
    animation: menu-drop 0.3s ease-out;
  }

  &--closed {
    display: none;
  }

  @media #{$desktop-widths} {
    width: 60%;
    padding: 0;
    margin: 0 auto;
    background-color: transparent;

    &__list {
      display: flex;
      flex-flow: row wrap;
      justify-content: space-between;
      min-height: 0;
      list-style: none;
      padding: 0;
    }

    &__link {
      padding: 0.75em 0;
      font-size: 12px;
      color: $white;
      text-align: center;
      background-color: transparent;
      text-shadow: 0 0 10px $black;
      border-top: 3px solid transparent;

      &:hover[href] {
        border-top: 3px solid $blue;
      }
    }

    &--closed {
      display: block;
    }
  }
}
