.page-header {
  position: relative;
  display: flex;
  flex-flow: column nowrap;
  margin: 0;
  min-height: 603px;
  background-image: $filter-gradient;
  background-repeat: no-repeat;
  background-size: cover;

  &__nav {
    position: absolute;
    z-index: 2;

    &--nojs {
      z-index: 1;
      position: relative;
    }
  }

  &__slide {
    display: none;

    &--shown {
      display: block;
    }
  }

  &__slide-bg {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    z-index: -1;
    background-position: center top;
    background-repeat: no-repeat;
    background-size: cover;
    opacity: 0;
    transition: opacity 0.3s ease;

    &[data-slide="1"] {
      background-image: url("../img/top-slider-bg-1.jpg");
    }

    &[data-slide="2"] {
      background-image: url("../img/top-slider-bg-2.jpg");
    }

    &--shown {
      opacity: 1;
    }
  }

  &__login-button,
  &__info-bar {
    position: absolute;
    right: 15px;
    width: 22%;
  }

  &__login-button {
    top: 26px;
    z-index: 1;
  }

  &__content-wrapper {
    @include container();
    display: flex;
    flex-flow: column nowrap;
    margin: 95px 0 180px;
  }

  &__row-wrapper {
    display: flex;
    flex-flow: row nowrap;
    justify-content: space-between;
  }

  &__heading,
  &__caption {
    display: block;
    margin: 49px 0 0;
    padding: 0;
    font-size: 30px;
    font-weight: 700;
    text-align: right;
    line-height: 36px;
    color: $white;

    b {
      font-weight: 900;
    }
  }

  &__caption {
    margin-top: 0.6em;
    margin-left: auto;
    font-size: 18px;
    line-height: 24px;
    font-weight: 500;
  }

  &__sign-in-button,
  &__sign {
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
  }

  &__sign-in-button {
    bottom: 118px;
  }

  &__sign {
    bottom: 22px;
    width: 22px;
    height: 39px;
    border: 2px solid $orange;
    border-radius: 11px;

    &::before {
      content: "";
      position: absolute;
      top: 33%;
      right: 8px;
      width: 2px;
      height: 12px;
      background-color: $orange;
    }

    &::after {
      content: "";
      position: absolute;
      bottom: 7px;
      right: 5px;
      width: 0;
      height: 0;
      border-left: 4px solid transparent;
      border-right: 4px solid transparent;
      border-top: 5px solid $orange;
    }

    &__logo-link {
      display: block;

      > img {
        height: 48px;
        width: auto;
      }
    }
  }

  @media #{$tablet-widths} {
    min-height: 518px;
    align-items: center;

    &__row-wrapper {
      justify-content: center;
    }

    &__heading,
    &__caption {
      text-align: center;
    }

    &__logo-link {
      display: block;
      margin-top: 45px;

      > img {
        height: 70px;
        width: auto;
      }
    }
  }

  @media #{$desktop-widths} {
    &__login-button,
    &__info-bar {
      right: calc(15px + 3%);
      width: 11%;
    }

    &__login-button {
      top: 8px;
    }
  }
}
