.toggle {
  position: absolute;
  top: 14px;
  left: 2%;
  display: block;
  width: 38px;
  height: 38px;
  padding: 0;
  border: 0;
  outline: none;
  cursor: pointer;
  align-items: center;
  background: none;
  -webkit-tap-highlight-color: transparent;

  &__icon {
    position: absolute;
    left: 25%;
    top: 50%;
    width: 22px;
    height: 4px;
    border-radius: 2px;
    background-color: $white;
    transition: background 0.3s 0s;

    &::before,
    &::after {
      content: "";
      position: absolute;
      left: 0;
      width: 100%;
      height: 4px;
      border-radius: 2px;
      background-color: $white;
      transform-origin: 50% 50%;
      transition: all 0.3s 0s, transform 0.3s;
    }
    
    &::before {
      top: 7px;
    }

    &::after {
      top: -7px;
    }

    &--active {
      background-color: $orange;

      &::before,
      &::after {
        background-color: $orange;
      }
    }
  }

  @media #{$tablet-widths} {
    display: none;
  }
  //
  // @media #{$desktop-widths} {
  //   display: none;
  // }


}
//
// .toggle:hover .toggle__icon--burger,
// .toggle:hover span::before,
// .toggle:hover span::after {
//   background: $white;
//   //transition: all 0.3s 0s;
// }
//
// .toggle:active .toggle__icon--burger,
// .toggle:active span::before,
// .toggle:active span::after {
//   //background: $pink-30;
// }
