.collapse-item {
  
  &__header {
    display: flex;
    flex-flow: row nowrap;
    align-items: center;
    min-height: 60px;
    margin-top: 0;
    padding-left: 25px;
    padding-right: 35px;
    border: 1px solid $lightgray;
    
    &::before {
      content: attr(data-count);
      font-size: 36px;
      font-weight: 700;
      color: $lightgray;
    }
  }
  
  &__header-text {
    margin: 0;
    margin-left: 18px;
    font-size: 16px;
    font-weight: 300;
  }
  
  &__content {
    display: none;
    padding: 5px 8px 20px;
    border-right: 1px solid $lightgray;
    border-left: 1px solid $lightgray;
  }

  &__content-header {
    margin: 18px 0 0;
    font-size: 14px;
    font-weight: 700;
  }

  &__content-paragraph {
    margin: 18px 0 0;
    font-size: 12px;
    font-weight: 300;
  }

  &--active {
    .collapse-item__header {
      box-shadow: 0 5px 10px -3px $black-15;
    }

    .collapse-item__content {
      display: block;
      box-shadow: 0 5px 10px -3px $black-15;
    }


  }

  @media #{$tablet-widths} {
    &__content {
      padding-left: 25px;
      padding-right: 25px;
    }
  }
}