.page-benefits {
  @include container();

  position: relative;
  width: 100%;
  margin: 0;
  padding-top: 23px;
  background-color: $secondary-bg;
  height: 227px;
  z-index: 0;

  &::after {
    content: '';
    position: absolute;
    bottom: -11px;
    left: 50%;
    width: 2px;
    height: 22px;
    background-color: $lightorange;
    transform: translateX(-50%);
  }
}