.question-circle {
  display: inline-block;
  width: 13px;
  height: 13px;
  margin-left: 5px;
  font-family: "OpenSans";
  font-size: 12px;
  font-weight: 700;
  color: $white;
  background-color: $darkblue;
  border-radius: 50%;

  &::before {
    content: "?";
  }
}
