.steps {
  display: flex;
  flex-flow: column nowrap;

  &__container {
    display: flex;
    flex-flow: column nowrap;
    margin-top: 30px;
    text-align: center;
  }

  &__list {
    display: flex;
    padding: 0;
    flex-flow: row wrap;
    list-style: none;
  }
  //446px
  &__item {
    width: 50%;
    margin-top: 22px;

    &::before {
      content: attr(data-step-count);
      display: flex;
      justify-content: center;
      align-items: center;
      height: 67px;
      width: 67px;
      margin: 0 auto;
      font-size: 36px;
      font-weight: 900;
      color: $white;
      vertical-align: middle;
      text-align: center;
      background-image: $orange-gradient;
      border-radius: 50%;
    }

    &--left {
      padding-right: 8%;

      &::before {
        margin-left: 30%;
      }
    }

    &--right {
      padding-right: 2%;
    
      &::before {
        margin-right: 35%;
      }
    }
  }

  &__text {
    margin: 22px 0 0 0;
    font-size: 14px;
    font-weight: 700;
  }

  &__question {
    margin: 0 auto;
  }
}