.document {
  display: flex;
  flex-flow: row nowrap;
  align-items: center;

  &__link {
    margin-left: 31px;
    font-family: 'OpenSans';
    font-size: 18px;
    font-weight: 300;
    line-height: 24px;
    text-decoration: none;
    color: $darkblue;

    &:hover {
      text-decoration: underline;
    }
  }
}