.info-bar {
  display: flex;
  flex-flow: column nowrap;
  margin-left: auto;
  font-size: 10px;
  font-weight: 500;
  color: $white;

  &__city {
    position: relative;
    padding-left: 1em;
    margin-bottom: 3px;
    
    &::before {
      //TODO: insert icon
    }
  }
  
  &__phone {
    color: inherit;
    text-decoration: none;
  }


}