.programs-slider {
  display: flex;
  flex-flow: column nowrap;
  height: 216px;

  &__slides-list {
    display: flex;
    flex-flow: row nowrap;
    overflow: hidden;
  }

  &__slide {
    display: flex;
    width: 262px;
    height: 148px;
    
    img {
      object-fit: cover;
    }
  }
}