.page-advantages {
  @include container();
  display: flex;
  flex-flow: column nowrap;
  align-items: center;
  background-color: $secondary-bg;

  &__header {
    margin-top: 63px;
    background-color: inherit;
    
    span {
      padding: 0.45em 0.7em;
      background-color: $secondary-bg;
    }
  }

  &__list {
    margin-bottom: 130px;
  }
}