.page-feedback {
  @include container();
  display: flex;
  flex-flow: column nowrap;
  align-items: center;
  padding-top: 45px;
  padding-bottom: 39px;
  background-color: $gray;
  background-image: url("../img/feedback-bg.png");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;

  &__form {
    max-width: 503px;
  }
}
