.button {
  display: inline-block;
  padding-top: 0.25em;
  padding-left: 2.5em;
  padding-right: 2.5em;
  padding-bottom: 0.5em;
  font-family: "OpenSans";
  font-size: 18px;
  font-weight: 700;
  text-decoration: none;
  color: $white;
  border: 0;
  border-radius: 5px;
  background-color: $lightorange;
  box-shadow: 0 3px 0 0 $orange;
  cursor: pointer;
  outline: none;

  &:hover {
    background-color: $darkorange;
  }

  &:active {
    transform: translateY(3px);
    box-shadow: none;
  }
}
