.reviews-slider {
  display: flex;
  flex-flow: column nowrap;
  background-color: transparent;
  padding: 0 5px;

  &__slides {
    display: flex;
    list-style: none;
    box-sizing: inherit;
    margin: 0;
    padding: 43px 0;
    // overflow: auto;
  }

  &__slide {
    //TEMP
    margin: 0 32px;
    max-width: 460px;
  }

  &__controls {
    display: flex;
    flex-flow: row nowrap;
    margin: 0 auto;

  }

  &__button {
    position: relative;
    display: block;
    width: 36px;
    height: 36px;
    font-size: 0;
    background-color: transparent;
    border: 1px solid $orange;
    border-radius: 50%;
    cursor: pointer;
    outline: none;

    
    &:before {
      content: '';
      position: absolute;
      top: 35%;
      transform: translateX(-50%);
      width: 0;
      height: 0;
      border-style: solid;
    }

    &:hover,
    &:active {
      background-image: $orange-gradient;
    }
    
    &--prev {
      &::before {
        left: 47%;
        border-width: 5px 6px 5px 0;
        border-color: transparent $orange transparent transparent;
      }
      
      &:hover,
      &:active {
        &::before {
          border-color: transparent $white transparent transparent;
        }
      }
    }
    
    &--next {
      &::before {
        left: 53%;
        border-width: 5px 0 5px 6px;
        border-color: transparent transparent transparent $orange;
      }
      
      &:hover,
      &:active {
        &::before {
          border-color: transparent transparent transparent $white;
        }
      }
    }
  }

  &__pagination {
    display: flex;
    flex-flow: row nowrap;
    margin: auto 31px;
  }
  
  &__pagination-bullet {
    display: block;
    width: 6px;
    height: 6px;
    margin: 0 3px;
    background-color: $indicator-item;
    border-radius: 50%;

    &--active {
      background-color: $orange;
    }
  }
}